In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('../output/market_data_with_names_merged.csv', parse_dates=['date'])
df.head()

,average,date,highest,lowest,order_count,volume,type_id,type_name
0,39.00,2024-05-01,39.00,38.99,72.0,755298,18,Plagioclase
1,31.27,2024-05-02,31.27,31.22,78.0,1259473,18,Plagioclase
2,31.29,2024-05-03,31.29,31.27,73.0,1785475,18,Plagioclase
3,31.34,2024-05-04,37.98,31.31,77.0,986104,18,Plagioclase
4,31.35,2024-05-05,33.00,31.34,79.0,1375376,18,Plagioclase

In [7]:
missing_names = df['type_name'].isna().sum()
print(f"Rows missing item names: {missing_names}")

if missing_names > 0:
    display(df[df['type_name'].isna()].head())

Rows missing item names: 0