In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\Jouke\Documents\evedata-logger\output\market_data_with_names_merged.csv', parse_dates=['date'])
df.head()

   type_id       date   volume  average  highest  lowest    type_name
0       18 2024-07-07  5351668    27.41    27.41   27.41  Plagioclase
1       18 2024-07-08   602210    43.00    44.18   33.19  Plagioclase
2       18 2024-07-09   924392    33.20    33.20   33.20  Plagioclase
3       18 2024-07-10  1789954    33.22    33.22   33.22  Plagioclase
4       18 2024-07-11  3189959    33.20    33.20   33.20  Plagioclase

In [7]:
missing_names = df['type_name'].isna().sum()
print(f"Rows missing item names: {missing_names}")

if missing_names > 0:
    display(df[df['type_name'].isna()].head())

Rows missing item names: 0